.container
	.footer
		//hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://www.alanhelton.com') Alan Helton
			|  #{year}. 
			a(href='http://www.github.com/alnino2005') GitHub


link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/analytics.js')
block footer